* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000114;
    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Home Page CSS */

.game-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    position: relative;
    overflow: hidden;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    align-items: center;
    width: 600px;
    max-width: 90%;
    background: linear-gradient(45deg, #ff6d00, #3c096c);
}

.card :before {
    
}

.card span {
    position: absolute;
    top: 6px;
    bottom: 6px;
    left: 6px;
    right: 6px;
    background: rgba(0,1,20,0.6);
    filter: contrast()
}


.game-img {
    width: 500px;
    max-width: 80%;
    margin-top: 10px;
    margin-bottom: 5px;
    z-index: 1;
}

.card-content {
    margin-bottom: 15px;
    z-index: 1;
}

.card h2 {
    text-align: center;
}

/* Game Page CSS */

.initial-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-button {
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-bottom: 50px;
    background: linear-gradient(97deg, #1F51FF, #39FF14)
    
}

.option-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.option-img {
    width: 500px;
    max-width: 80%;
    margin-bottom: 20px;
}

.do-over-button {
    display: inline;
    margin-bottom: 15px;
    width: 150px;
    height: 40px;
}

.button-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.choose-again-button {
    width: 150px;
    height: 40px;
}
